-# views/booking/index.html.haml

%h1= boat_booker_date(Time.now)
%table#bookings
  %thead
    %tr
      %th From
      %th To
  - @bookings.each do |b|
    %tr
      %td #{boat_booker_time(b.book_from)}
      %td #{boat_booker_time(b.book_to)}

%p= link_to("Create new booking", new_booking_path)