-# views/booking/index.html.haml

%h1= boat_booker_date(Time.now)
%table#bookings
  %thead
    %tr
      %th From
      %th To
  - @bookings.each do |b|
    %tr
      %td #{boat_booker_time(b.from)}
      %td #{boat_booker_time(b.to)}
